* {
	box-sizing: border-box;

}
body, html {
	height: 100%;
	margin: 0px;

}

header{
	margin: auto;
	height: 120px;
	background: #242a2f;
	max-width: 830px;

}
.header_Text {
	color: #fff;
	font-family: 'Sonsie One', cursive;
	display: block;
	text-align: right;
	position: relative;
	bottom: 105px;
	right: 90px;

}

header > img {
	position: relative;
	display: block;
	margin: auto;


}
