* {
	box-sizing: border-box;

}
body, html {
	height: 100%;
	margin: 0px;

}
header{
	height: 50px;
	background: grey;
}

/*images will expand with their contents*/
img {
		width: 100%;

}
/*css grid shit*/
.feature-content{
	/*max width so that it doesn't break*/
	max-width: 1080px;
	display: grid;
	/*fractions allow the content to be dynamic*/
	grid-template-columns: 5fr 3fr;
	grid-gap: 60px;

}

.feature-content div:last-child {
background: aqua;
padding: 30px;
grid-gap: 60px;
/*This is for microsoft browsers that don't support the base css grid stuff*/
display: -ms-grid;
-ms-grid-columns: 5fr 3fr;

}
.feed-list{
		max-width: 795px;
		margin: auto;

}

.feed-item {

		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 60px;
		margin-top: 50px;


}
.feed-item--right{
		grid-template-columns: 2fr 1fr;
		 


}
.feed-item--right img {
	grid-column: 2;
	grid-row: 1;


}

.feed-item--right div {
	grid-column: 1;
	grid-row: 1;
	text-align: right;

}
.one-nav.home-active {
	background-color: #ddd;


}

footer {
	background-color: #ff6759;

}